* {
  color: black;
  box-sizing: border-box;
}

.content {
  margin: 0 auto;
  max-width: 1440px;
}

.header {
  padding: 30px 50px;
  border-bottom: 1px solid #cccccc;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  gap: 50px;
  align-items: center;
  list-style: none;
}

.menu::before {
  content: url(../img/Logo.png);
  width: 130px;
  height: 28px;
}

.menu__link {
  font-family: "Graphik LC TT", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
}

.button__wrapper {
  display: flex;
  gap: 10px;
}

.button {
  font-family: "Graphik LC TT", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  border: 0;
  background: none;
}

.button:hover {
  cursor: pointer;
}

.button_login {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0 36px;
  line-height: 45px;
}

.button_link {
  background: #FF6336;
  padding: 0 22px;
  line-height: 45px;
  color: #ffffff;
}

