* {
  font-family: "Graphik LC TT", sans-serif;
  color: black;
  box-sizing: border-box;
}

.content {
  margin: 0 auto;
  max-width: 1330px;
}

/* header */

.header {
  padding: 30px 50px;
  border-bottom: 1px solid #cccccc;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  gap: 50px;
  align-items: center;
  list-style: none;
}

.menu::before {
  content: url(../img/Logo.png);
  width: 130px;
  height: 28px;
}

.menu__link {
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
}

.button__wrapper {
  display: flex;
  gap: 10px;
}

.button {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  border: 0;
  background: none;
}

.button:hover {
  cursor: pointer;
}

.button_login {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0 36px;
  line-height: 45px;
}

.button_link {
  background: #ff6336;
  padding: 0 22px;
  line-height: 45px;
  color: #ffffff;
}

/* footer */

.footer {
  padding: 100px 75px 50px;
  background: #eeeeee;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 95px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__info-title {
  margin: 0;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
}

.footer__info-img {
  margin: 30px 0 30px;
}

.footer__info-logo {
  width: 80px;
}

.footer__info-text {
  max-width: 290px;
  font-size: 20px;
  line-height: 30px;
}

.footer__info-link {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
}

.footer__menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 34px;
  margin: 0;
  padding: 0;
}

.footer__menu-link {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
}

.footer__menu-submenu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  padding: 20px 0 0;
}

.footer__menu-sublink {
  font-size: 15px;
  line-height: 15px;
  text-decoration: none;
}

.legal {
  border-top: 1px solid black;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.legal-info {
  display: inline-block;
  max-width: 300px;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
}

.copyright-info {
  max-width: 300px;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
}