* {
  font-family: "Graphik LC TT", sans-serif;
  font-size: 20px;
  color: black;
  box-sizing: border-box;
}

.content {
  margin: 0 auto;
  max-width: 1290px;
}

.button {
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
  border: 0;
  background: none;
}

.button:hover {
  cursor: pointer;
}

/* header */

.header {
  padding: 1.5rem 2.5rem;
  border-bottom: 1px solid #cccccc;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  padding-left: 2rem;
}

.menu__link {
  font-size: 0.75rem;
  line-height: 1rem;
  text-decoration: none;
}

.button__wrapper {
  display: flex;
  gap: 0.5rem;
  flex-shrink: 0;
}

.button_login {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0 1.8rem;
  line-height: 2.25rem;
}

.button_link {
  background: #ff6336;
  padding: 0 1.1rem;
  line-height: 2.25rem;
  color: #ffffff;
}

/* footer */

.footer {
  padding: 5rem 3.75rem 2.5rem;
  background: #eeeeee;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4.75rem;
  gap: 7rem;
}

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__info-title {
  margin: 0;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
}

.footer__img-wrapper {
  display: flex;
  align-items: center;
  flex: 0 0 50%;
}

.footer__info-img {
  max-width: 100%;
  margin: 1.5rem 0 1.5rem;
}

.footer__info-logo {
  width: 80px;
}

.footer__info-text {
  max-width: 290px;
  line-height: 1.5rem;
}

.footer__info-link {
  font-weight: 600;
  line-height: 1.5rem;
  text-decoration: none;
}

.footer__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  gap: 1.7rem;
  margin: 0;
  padding: 0;
}

.footer__menu-link {
  font-weight: 600;
  line-height: 1.25rem;
  text-decoration: none;
}

.footer__menu-submenu {
  width: 9.35rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
  padding: 1rem 0 0;
}

.footer__menu-sublink {
  font-size: 0.75rem;
  line-height: 0.75rem;
  text-decoration: none;
}

.legal {
  border-top: 1px solid black;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.legal-info {
  display: inline-block;
  max-width: 15rem;
  font-size: 0.55rem;
  line-height: 0.75rem;
  margin: 0;
}

.copyright-info {
  max-width: 300px;
  font-size: 0.55rem;
  line-height: 0.75rem;
}

/* main */

/* section 1 */

.section-1__wrapper {
  padding: 5rem 3.75rem;
}

.section-1 {
  display: flex;
  align-items: center;
  padding: 1.75rem 0;
}

.section-1__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.section-1__title {
  font-weight: 600;
  font-size: 3.25rem;
  line-height: 3.5rem;
  margin: 0;
}

.section-1__text {
  font-size: 1.25rem;
  line-height: 1.75rem;
  max-width: 470px;
  margin: 0;
}

.section-1__button-wrapper {
  display: flex;
  gap: 0.5rem;
}

.button_link_big {
  background: #ff6336;
  padding: 0 2rem;
  line-height: 3rem;
  color: #ffffff;
}

.button_demo {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0 1.5rem;
  line-height: 3rem;
}

.section-1__text_additional {
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin: 0;
}

.section-1__img-wrapper {
  display: flex;
  align-items: center;
  flex: 0 0 50%;
}

.section-1__img {
  max-width: 100%;
}

/* section 2 */

.section-2__wrapper {
  padding: 5rem;
  background: #ff9c7d;
}

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}

.section-2__title {
  max-width: 720px;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: center;
  margin: 0;
}

.section-2__logo-wrapper {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
}

/* section 3 */

.section-3__wrapper {
  padding: 4.5rem 3.75rem 7.5rem;
}

.section-3 {
  display: flex;
  flex-direction: column;
  gap: 12.5rem;
}

.section-3__content-wrapper {
  display: flex;
  gap: 6.85rem;
  justify-content: space-between;
  align-items: center;
}

.section-3__content-wrapper:nth-of-type(2n) {
  display: flex;
  flex-direction: row-reverse;
  gap: 6.85rem;
  justify-content: space-between;
  align-items: center;
}

.section-3__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  justify-content: center;
}

.section-3__title {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0;
}

.section-3__text {
  line-height: 1.5rem;
  margin: 0;
}

.section-3__link {
  font-weight: 600;
  line-height: 1.5rem;
  margin: 0;
}

.section-3__img-wrapper {
  display: flex;
  align-items: center;
  flex: 0 0 calc(50% - 6.85rem);
}

.section-3__img {
  max-width: 100%;
}

/* section 4 */

.section-4__wrapper {
  background: #fff8e4;
  padding: 6rem 5.75rem 7.5rem;
}

.section-4__title {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: center;
  margin: 0;
  padding-bottom: 4rem;
}

.section-4__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5.5rem;
  column-gap: 3rem;
}

.section-4__card {
  width: 16.5rem;
  padding: 1rem 0.75rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.section-4__card-title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  margin: 0;
}

.section-4__card-text {
  font-size: 0.9rem;
  line-height: 1.25rem;
  text-align: center;
  margin: 0;
}

/* section 5 */

.section-5__wrapper {
  padding: 7.5rem 3.75rem;
}

.section-5__title {
  padding-bottom: 1.25rem;
  margin: 0;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3rem;
}

.section-5__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.section-5__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-5__img-wrapper {
  height: 300px;
  display: flex;
  align-items: center;
}

.section-5__card-title {
  margin: 0;
  padding-bottom: 1.75rem;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}

.section-5__card-text {
  max-width: 410px;
  margin: 0;
  padding-bottom: 1.25rem;
  line-height: 1.5rem;
}

.section-5__card-link {
  line-height: 1.5rem;
  margin: 0;
}

/* quote */

.quote__wrapper {
  background: #c9e8f2;
  padding: 2.5rem 3.75rem 5rem;
}

.quote {
  display: flex;
  gap: 4.25rem;
}

.quote__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.quote__text {
  margin: 0;
  padding-bottom: 1.25rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

.quote__author {
  margin: 0;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.quote__author-img-wrapper {
  display: flex;
  align-items: center;
  flex: 0 0 33%;
}

.quote__author-img {
  max-width: 100%;
}

/* rate */

.rate__wrapper {
  background: #dabc98;
  padding: 4rem 3rem;
}

.rate {
  display: flex;
  justify-content: space-between;
  gap: 6.25rem;
}

.rate__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.25rem;
}

.rate__img-wrapper {
  display: flex;
  align-items: center;
  flex: 0 0 25%;
}

.rate__text-img {
  max-width: 100%;
}

.rate__text {
  margin: 0;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.5rem;
}

.rate__stars-wrapper {
  border-left: 1px solid #000000;
  padding: 1.5rem 3rem 1rem 3.5rem;
  display: flex;
  gap: 3.5rem;
  flex-wrap: wrap;
}

.rate__stars {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.rate__star {
  padding: 1rem 0 0.75rem;
}

.rate__comment {
  margin: 0;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.0375rem;
}

/* section 6 */

.section-6__wrapper {
  padding: 8rem 3.75rem;
}

.section-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-6__title {
  max-width: 790px;
  margin: 0;
  font-weight: 600;
  font-size: 3.25rem;
  line-height: 3.75rem;
  text-align: center;
}

.section-6__text {
  max-width: 540px;
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
}

.section-6__img-wrapper {
  display: flex;
  align-items: center;
  flex: 0 0 50%;
}

.section-6__img {
  padding: 1.25rem 0 1.5rem;
  max-width: 100%;
}

.section-6__button {
  background: #ff6336;
  padding: 0 1rem;
  line-height: 3rem;
  color: #ffffff;
}

/* section 7 */

.section-7__wrapper {
  background: #ff9c7d;
  padding: 6rem 3.75rem 8rem;
}

.section-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-7__title {
  max-width: 790px;
  margin: 0;
  font-weight: 600;
  font-size: 3.25rem;
  line-height: 3.75rem;
  text-align: center;
}

.section-7__text {
  margin: 0;
  padding: 1.5rem 0 2.75rem;
  line-height: 1.5rem;
  text-align: center;
}

.section-7__button {
  background: #000000;
  padding: 0 2rem;
  line-height: 3rem;
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  * {
    font-size: 16px;
  }

  .nav__logo {
    max-width: 75%;
  }

  .menu {
    gap: 1.25rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 768px) {
  * {
    font-size: 14px;
  }

  .nav__logo {
    max-width: 100%;
  }

  .menu {
    display: none;
  }

  .header__burger-wrapper {
    display: block;
  }

  .section-1__wrapper {
    padding: 3rem 2rem;
  }

  .section-1 {
    flex-direction: column-reverse;
    gap: 1.5rem;
  }

  .section-1__title {
    text-align: center;
  }

  .section-1__text {
    text-align: center;
  }

  .section-1__content {
    align-items: center;
  }

  .section-1__img-wrapper {
    justify-content: center;
  }

  .section-1__img {
    max-width: 75%;
  }

  .section-3__wrapper {
    padding: 3rem 2rem;
  }

  .section-3 {
    gap: 6rem;
  }

  .section-4__wrapper {
    padding: 3rem 2rem;
  }

  .section-4__cards {
    gap: 2.75rem;
    column-gap: 1.5rem;
  }

  .section-5__wrapper {
    padding: 4rem 3rem;
  }

  .section-5__cards {
    display: flex;
    flex-direction: column;
  }

  .section-5__card:nth-of-type(2n) {
    align-items: flex-end;
  }

  .section-5__card:nth-of-type(2n) .section-5__card-text {
    text-align: end;
  }

  .quote {
    flex-direction: column-reverse;
  }

  .rate__content {
    flex-direction: column;
  }

  .section-6__wrapper {
    padding: 3rem 2rem;
  }

  .section-7__wrapper {
    padding: 4rem;
  }

  .footer__content {
    flex-direction: column;
  }

  .footer__menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .button__wrapper {
    display: none;
  }

  .section-3__content-wrapper, .section-3__content-wrapper:nth-of-type(2n) {
    flex-direction: column-reverse;
  }

  .section-3__img-wrapper {
    justify-content: center;
  }

  .section-3__img {
    max-width: 75%;
  }

  .rate {
    flex-direction: column;
  }

  .rate__stars-wrapper {
    border-left: none;
    border-top: 1px solid #000000;
  }
}